:root {
  --header-color: #1c1010;
  --footer-color: #7e4d2f;
  --background-color: #f9d9aa;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* nav */
.navbar {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  color: #f9ebe0;
}

.icon_account {
  background-color: #f9ebe0;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  /* cursor: pointer; */
}

.shop_cart {
  border-radius: 40px;
  padding: 6px 6px;
  background-color: #f9ebe0;
  color: black;
  /* cursor: pointer; */
}

/* banner */
.banner {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

/* Top seller */

h2 {
  font-family: "Pacifico", cursive;
  color: black;
  font-size: 50px;
  text-align: center;
}
.ca_title {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
}

.top_seller {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
}
.btn_buy {
  background-color: var(--header-color);
  color: #f9ebe0;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.card_para {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 5px;
  padding: 0 10px;
}

/* DANH MỤC SẢN PHẨM */
.square {
  background-color: #f9ebe0;
  margin: 10px;
  border: 5px solid;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}
#category_title {
  color: black;
  font-size: 50px;
  text-align: center;
}

.promo-banner {
  background: #f2dcc0;
  border-radius: 20px;
  padding: 28px;
  position: relative;
  height: 100%;
}
.promo-icon img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.promo-content {
  flex: 1 1 auto;
  text-align: center;
  padding-left: 20px;
}
/* special offers */
.promo-banner {
  background-color: #e5ccb3;
  position: relative;
  overflow: hidden;
  padding: 24px;
}


.promo-icon img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

/* Tag "New Offer" hình ruy băng */
.new-offer-tag {
  position: absolute;
  top: 0;
  right: 25px;
  background-color: #f4eee1;
  color: #4a2c11;
  padding: 8px 6px 14px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  /* Tạo hiệu ứng vát đuôi tôm bằng clip-path */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
  width: 45px;
}
/* footer */
.custom-footer {
  background-color: #7e4d2f;
  color: #ffffff;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 50px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.newsletter-input:focus {
  background-color: #e5e5e5;
  box-shadow: none;
  border: none;
}
.btn-register {
  background-color: #f1cb23;
  color: #000000;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}
.btn-register:hover {
  background-color: #dac21b;
  color: #000000;
}
@media only screen and (min-width: 800px) {
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
